<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<div th:include="includes/header"></div>

	<!-- CONTENT PAGE -->
	<section class="uk-section">
		<div class="uk-container uk-container-small">
		
			<!-- Breacrumb -->
			<ul class="uk-breadcrumb">
			    <li><a href="/">Home</a></li>
			    <li><a href="/movies">Films</a></li>
		       	<li><span th:text="${movie.title}">Détail</span></li>
			</ul>
		
		
			<h2 th:text="${movie.title}"></h2>
			<p class="uk-article-meta">
				<span>Année : </span><span th:text="${movie.year}"></span>
				<span> / Durée : </span><span th:text="${movie.duration}"></span>
			</p>
			<!-- Genre -->
			<p>
				<span>Genre : </span>
				<span th:text="${movie.genre.title}"></span>
			</p>
			<!-- Realisator -->
			<p>
				<span>Réalisateur : </span>
				<span th:text="${movie.realisator.displayWholeName()}"></span>
			</p>
			<p th:text="${movie.synopsis}"></p>
		</div>
	</section>
	<!-- ./CONTENT PAGE -->
	
	<div th:include="includes/footer"></div>
</body>
</html>