<head>
<meta charset="UTF-8">
<title>Filmotheque</title>

<link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css" />
<script type="text/javascript" src="/vendor/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src="/vendor/uikit/js/uikit-icons.min.js"></script>
</head>
<body>
<!--HEADER-->
<header
	style="background-color: #fff; border-bottom: 1px solid #f2f2f2"
	data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
	<div class="uk-container">
		<nav id="navbar" data-uk-navbar="mode: click;">
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">

					<li class="uk-visible@s">
						<div>
							<a class="uk-navbar-toggle" href="#"></a>
							<div class="uk-drop"
								data-uk-drop="mode: click; pos: right-center; offset: 0; boundary: #navbar">

							</div>
						</div>
					</li>
				</ul>

			</div>
			<div class="uk-navbar-center">
				<a class="uk-navbar-item uk-logo" href="#">Filmotheque</a>
			</div>
			<div class="uk-navbar-right">
				<!-- Si connecté (si loggedUser en session) -->
				<div th:if="${ loggedUser != null }">
					<ul class="uk-navbar-nav">
						<li>Vous êtes connecté(e) <span th:text="${loggedUser.email}" ></span></li>
						<li><a href="/logout">Se deconnecter</a></li>
					</ul>
				</div>
				<!-- Si pas connecté -->
				<div th:if="${ loggedUser == null }">
					<a class="uk-button uk-button-default" href="/login">Se connecter</a>
				</div>
			</div>
		</nav>
	</div>
</header>
<!--/HEADER-->